@import url(http://fonts.googleapis.com/css?family=Gafata);

body {
    font-family: "Gafata", "Helvetica", "Serif";
    margin: 0px;
    background-image: url("../img/bg.jpg");
}

/* Header and footer */

header, footer {
    height: 50px;
    padding-right: 40px;
    padding-left: 40px;    
    background: #242b35;
}

header .logo {
    text-decoration: none;
    font-size: 2.5em;
    color:white;
}

header .logo img  {
    width : 32px;    
    padding-top: 5px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;    
}

.dices li img{
    background-color: white;   
}

.dices li{
    list-style: none;
    margin-right: 50px;
    margin-bottom: 20px;
    display: inline-block;
}

button{
    padding: 10px;
    font-size: 1.5em;
}

.table{
    text-align: center;
}

.load_dice input{
    padding: 16px;   
    position: relative;
    bottom: 4px;
}

.load_dice {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

